@tailwind base;
/* :root{} */
@tailwind components;

::-webkit-scrollbar {
  width: 8px;
  background: #f2f2f2;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #080051;
  border-left: 1px solid #080051;
  border-right: 1px solid #080051;
  border-radius: 20px;
}

@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
}
